LIQUIDATION_DEBT_AMOUNT_BASE_UNITS=1000000
LIQUIDATION_DEBT_ASSET=USDT
LIQUIDATION_MIN_COLLATERAL_AMOUNT_BASE_UNITS=0
LIQUIDATOR_IDENTITY_PEM_PATH=/absolute/path/to/liquidator.pem
LIQUIDIUM_LENDING_CANISTER_ID=hyk4r-jqaaa-aaaar-qb4ca-cai
